*{
    padding:0;
    margin: 0;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    background-color: aliceblue;
    width: fit-content;
    margin: auto;
    padding:50px 25px 35px 25px;
    border-radius: 0.5rem;
}
header{
    width: 650px;
    margin: auto;
    color: navy;
    margin-top: 10%;
    text-align: center;
}
ol{
    display: grid;
    width: 650px;
    margin: auto;
    grid-gap: 1rem;
}
li{
    display:grid;
    color: navy;
    font-weight: bolder;
}
label{
    color: black;
    font-weight: lighter;
    padding-bottom: 10px;
}
li p{
    width: 50%;
    color: white;
    background-color: darkgray;
    margin: auto;
    padding: 10px;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: small;
}
input, select{
    padding: 5px;
}
button{
    display: block;
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 1rem;
    background-color: navy;
    color: white;
    border: transparent;
    margin-top: 15px;
}
footer{
    width: 650px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}