*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: rgb(88, 75, 202);
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 549;
}

h1{
    color: rgb(88, 75, 202);
    border-bottom: 1px solid  rgb(88, 75, 202);
    font-size: 1.97rem;
}

main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid  rgb(88, 75, 202);
    padding: 2px;
    box-shadow: 0 0 10px gray;
    margin: 10px 0 17px 10px;
}

p {
    padding: 1rem;
}

main{
    padding: 1rem;
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    position:relative;
    width: 45%;
    padding: 1rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20rem;
}


aside h2{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(88, 75, 202);
}
aside img{
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
} 
header, .grid, footer{
    max-width: 840px;
    margin: auto;
}  

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid  rgb(88, 75, 202);
    padding: 1rem;
    background-color: aliceblue;
    color: rgb(88, 75, 202);
    padding-left: 2rem;
    clear: both;
}
.grid{
    display: grid;
    align-items: center;
}